<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.xxl.dao.AlcoholsSkuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.house.xxl.model.AlcoholsSku">
        <id column="id" property="id" />
        <result column="alco_id" property="alcoId" />
        <result column="sku_cap" property="skuCap" />
        <result column="sku_sellprice" property="skuSellprice" />
        <result column="sku_stock" property="skuStock" />
        <result column="sku_status" property="skuStatus" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, alco_id, sku_cap, sku_sellprice, sku_stock, sku_status, create_time, update_time
    </sql>

</mapper>
