<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.xxl.dao.OrderItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.house.xxl.model.OrderItem">
        <id column="id" property="id" />
        <result column="aclo_price" property="acloPrice" />
        <result column="alco_name" property="alcoName" />
        <result column="alco_sku" property="alcoSku" />
        <result column="order_id" property="orderId" />
        <result column="buy_num" property="buyNum" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="alco_image" property="alcoImage" />
        <result column="deposit" property="deposit" />
        <result column="dep_num" property="depNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, aclo_price, alco_name,alco_sku, order_id, buy_num, create_time, update_time,alco_image,deposit,dep_num
    </sql>

</mapper>
